setuptools>=41.0.0,!=50.0
cached-property
click
gym==0.18.3
numpy
pandas
psutil
pybullet==3.0.6
pynput
rich
rtree 
sh
shapely
sklearn
tableprint
trimesh==3.9.29
visdom
yattag
cloudpickle<1.4.0
tornado
websocket-client
ijson
matplotlib
scikit-image
grpcio==1.32.0
protobuf
PyYAML
twisted

Panda3D==1.10.9
panda3d-gltf==0.13

scipy
tensorflow==2.4.0
tensorflow-probability==0.12.2
